<label>Title
  <input type="text" name="links[<%= link.object_id %>][title]" value="<%= link.title %>">
</label>

<label>URL
  <input type="text" name="links[<%= link.object_id %>][url]" value="<%= link.url %>">
</label>

<label>Description
  <textarea name="links[<%= link.object_id %>][text]" value="<%= link.text %>"></textarea>
</label>